<%- include("header") %>
    <body>
        <%- include("nav") %>
        <div class="main-container">
            <div class="menu">
              <h4 style="color:red"><%=error%></h4>
                <form  method="post">
                    <ul class="flex-outer">
                      <li>
                        <label for="title">Title</label>
                        <input type="text" name= "title" placeholder="Enter title" required>
                      </li>
                      <li>
                        <label for="duration">Duration</label>
                        <input type="Number" name= "duration" min="30" placeholder="Enter duration in minutes" required>
                      </li>
                      <li>
                        <label for="doctor">Doctor</label>
                        <select name="doctor" required>
                                <option value="<%=doctor.login%>"><%=doctor.login%></option>
                        </select>
                      </li>
                      <li>
                        <label for="datetime" >Datetime</label>
                        <input type="datetime-local" name= "datetime" placeholder="Enter title here" required>
                      </li>
                      <li>
                        <button type="submit">Add</button>
                      </li>
                    </ul>
                  </form>
            </div>
        </div>
    </body>
</html>